@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*******
GENERAL
*******/

* {
    box-sizing: border-box;
}

body {
    background: url(background.jpg) 0% -0.05% / 100% no-repeat;
    font: 16px/1.5 'Open Sans', sans-serif;
    color: #333;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
    padding: 0 1em;
}

h1,
h2,
h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3.16em;
    text-transform: uppercase;
    margin-top: 2em;
}

h2 {
    font-size: 2.37em;
}

h3 {
    font-size: 1.77em;
    background-color: #ffa;
}

h1,
h2 {
    color: #fff;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #159;
    padding: 2px;
}

a:hover {
    color: #3F99F2;
    text-decoration: underline;
}


/*********
CONTENT
*********/

.page-wrapper {
    margin: 0 5%;
    padding: 0;
}

#zen-intro {
    margin: 0 20%;
}

#zen-intro h1,
h2,
h3 {
    text-align: center;
}

#zen-summary {
    padding: 1em;
    opacity: 0.85;
}

#zen-summary p+p {
    font-style: italic;
}

#zen-summary,
#zen-preamble {
    background-color: #fff;
}

#zen-preamble {
    padding: 0 0 1em;
    opacity: 0.9;
}

#zen-preamble h3 {
    padding: 0.5em 0;
}

#zen-preamble p {
    padding: 0 2em;
}

#zen-supporting {
    background: #eee;
    float: left;
    width: 70%;
    padding: 0 2em;
}

#zen-supporting p {
    padding: 0;
}

#zen-requirements p:last-child {
    font-style: italic;
    font-size: 0.9em;
}

.sidebar {
    float: right;
    width: 30%;
    padding: 0 2em;
    border: 1px solid #ddd;
    background-color: #fff;
}

#zen-supporting,
.sidebar {
    margin: 3em 0 0;
}

.sidebar ul {
    padding: 0;
    list-style-type: none;
    line-height: 2;
    font-size: 0.9em;
}

.sidebar h3 {
    background-color: #ddd;
    text-align: left;
    padding: 0 0.5em;
}

#design-selection ul li:nth-child(odd) {
    background-color: #ddd;
}

a.designer-name {
    color: #333;
    font-weight: normal;
    text-decoration: underline;
    ;
}

footer {
    background-color: #333;
    padding: 1em;
}

footer a {
    color: #3F99F2;
    padding: 0 7.5%;
}

footer a:hover {
    color: #ddd;
}